/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(eworm-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 140vh;
	margin: auto;
	max-width: 60em;
	background-color: rgb(243,241,226);
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: rgb(243,241,226);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1rem 1.5rem 4rem;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(243,241,226);
	padding: 1rem 1rem;
	}

h1 {
	width: 14em;
	}

h2, h3, h4 {
		font-family: "alphabet-soup-pro", sans-serif;
		font-weight: 300;
		font-style: normal;
		color:rgb(90,34,13);
	}

h2 {
	font-size: 2em;
	margin: 1rem 0rem .5em;
	}
	
h3 {
	font-size: 1.2em;
	margin: 1rem 0rem .5rem;
}


body {  
    font-family: "articulat-cf", sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: rgb(243,241,226);
} 

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1rem;
}

main.menu ul {
		margin: 2rem 0rem;
}	

main.menu ul li {
		margin: 2rem 0rem 2rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

article {
	margin: auto;
	max-width: 40em;
}

p {
	margin: 1rem 0rem 1rem;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0rem;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(90,34,13);
	text-align: right;
	margin: 0rem;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.3rem;
	}
	
nav ul li a {
	color:rgb(90,34,13);
	padding: .4rem .5rem .4rem;
	font-size: 1.5em;
	font-family: "alphabet-soup-pro", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
nav ul li.selected a {
	color:rgb(90,34,13);
	font-size: 2.1em;
}

p.slogan {
	font-size: 4em;
	font-family: "alphabet-soup-pro", sans-serif;
		font-weight: 300;
		font-style: normal;
	margin: 2rem 2rem 5rem;	
	color:rgb(243,241,226);
	}

	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: rgb(243,241,226);
}

address {
	margin-left: 2rem;
	color:rgb(90,34,13);
	}


footer p {
	margin: 0;
}

@media screen and (min-width: 60em) {

main.menu ul {
display: grid;
grid-gap: .5em 3em;
grid-template-columns: 1fr 1fr;

}
nav{ 
	font-size: 1.5em;
	margin: 1em;
}
nav ul li {
	display: inline;
	margin: .5em;
}
    }